<div class="nav">
  <div class="dropdown">
    <button onclick="location.href='#';" class="login">Login
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="admin">Admin</a>
        <a href="#">Member</a>
    </div>
  </div>
</div>

<div class= "page-body">
    <div class="main-nav">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="officer-team">Officer Team</a>
        <div class="drop">
        <a href="general-meetings">General Meetings</a>
        <div class="dropdown-content">
            <a href="general-meetings">General Meetings</a>
            <a href="#">Outreach</a>
            <a href="#">Social Events</a>
            <a href="#">Career Development</a>
        </div>
        </div>
        <a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=358"  target="_blank">Store</a>
    </div>

    <h1 align="center">General Meetings</h1>


    <footer class="page-footer">
        <div class = "sub">
            <h4>Join our mailing list. Never miss an update</h4>
            <div class = "sub-b">
                <%= link_to 'Subscribe', new_email_path %>
            </div>
        </div>
        <p> 2022 by Texas A&M American Chemical Society Student Affiliate Chapter.</p>
    </footer>

</div>