/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html {
    overflow-y: overlay;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Verdana', sans-serif !important;
}

.navbar a:hover { background-color: rgba(255, 255, 255, 0) !important; }


@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

#wrapper{
    min-height:100%;
    position:relative;
}


// Place all the styles related to the calendarevents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media screen and (orientation:portrait) {
    .simple-calendar {
        max-height: 80%;
        overflow-y: scroll;
        border: 1px solid rgb(192, 192, 192);
        table {
        }
        
        tr {
            border-top: 0px none ;
        }
        
        th {
            display: none;
        }
        
        td {
            border-top: 0px none ;
            display: none;

        }
        .day {
            width: 100%;
            min-width: 100%;
            
        }

        .today {
        }
        
        .prev-month {
            background: #DDD;
        }
        .next-month {
            background: #DDD;
        }
        
        .has-events {
            border-top: 0px none ;
            display:inline;
            width: 100%;
            min-width: 100%;
        }
        }
}
@media screen and (orientation: landscape) {
.simple-calendar {
table {
    border: 1px solid rgb(192, 192, 192);
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 2px;
    max-width: 20%;
    border-right: 1px solid rgb(192, 192, 192);
    border-bottom: 2px solid rgb(192, 192, 192);
    border-left: 1px solid rgb(192, 192, 192);
    border-top: 0px none ;
    border-collapse: collapse;

}

td {
    padding: 2px;
    vertical-align: top;
    width: 12%;

    border: 1px solid #ddd;
    border-right: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    border-left: 1px solid rgb(192, 192, 192);
    border-top: 0px none rgb(44, 44, 44);
}
.day {
    height: 80px;
}

.today {
    background: #FFFFC0;
}

.prev-month {
    background: #DDD;
}
.next-month {
    background: #DDD;
}

.has-events {
    width: 17%;
}
}
}