

//upper nav bar [login, ui access] 
.nav {
    overflow: hidden;
    background-color: #591C0B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding:8px;
}
.nav a {
    float: right;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    
}

//adjusting width
.page-body{
    width: 65%;
    margin: auto;
    background-color: rgb(231, 231, 231);
}

//lower navigation bar [home, about, officer team, general meetings, store] for main sight
.main-nav {
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content:space-evenly;
    border: solid  #5C5F58;
    border-width:1px 0px;
}

.main-nav a {
    font-size: 15px;
    color: #5C5F58;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    min-width: 175px;
}
//dropdown
.drop{
    min-width: 20%;
    display:flex;
    justify-content: center;
}
.dropdown {
    float: left;
    overflow: hidden;
}

//login dropdown settings
.dropdown .login {
    font-size: 15px;
    border: none;
    outline: none;
    text-align: center;
    color: #ffffff;
    padding: 12px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
}



//hover settings for nav & main-nav
.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #800000;
}
.main-nav a:hover, .dropdown:hover .dropbtn {
    background-color:#ddd;;
    color: #ffffff;;
}

//dropdown under general meetings tab
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;;
    z-index: 1;
    min-width: 175px;
}
.dropdown-content a {
    float: none;
    color: #800000;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.drop:hover .dropdown-content {
    display: block;
}



//heading for all main pages
.page-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page-heading h2{
    font-size:15px;
    padding: 0px;
}


//center page body (main page contents)
.cpage-body{
    margin-top: -20px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

//page footer with copy right and mailing list
.page-footer{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.page-footer h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
}

.page-footer p{
    background-color: #591C0B;
    color: rgba(245, 245, 245, 0.603);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 8px;
}

//subscribe section
.sub{
    margin: auto;
    width: 50%;
    border: solid #591C0B;
    border-width:1px;

}
//subscribe button in footer (mailing list)
.sub-b{
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    text-align: center;
    padding:4px 8px;
    background-color: #591C0B;
    color: white;
    width: 20%;
}