

.nav {
    overflow: hidden;
    background-color: #800000;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page-body{
    width: 75%;
    margin: auto;
    background-color: rgb(231, 231, 231);
}
.main-nav {
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content: center;
}
.nav a {
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    
}
.main-nav a {
    font-size: 15px;
    color: #800000;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
    min-width: 18%;
}

.dropdown a {
    font-size: 15px;
    color: #800000;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
    min-width: 20%;
}
.drop{
    min-width: 20%;
    display:flex;
    justify-content: center;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .login {
    font-size: 15px;
    border: none;
    outline: none;
    text-align: center;
    color: #ffffff;
    padding: 12px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
}



.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #800000;
}
.main-nav a:hover, .dropdown:hover .dropbtn {
    background-color: #800000;
    color: #ffffff;;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #800000;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.drop:hover .dropdown-content {
    display: block;
}